.jcarousel-skin-tango .jcarousel-container-vertical {
 width: 75px;
 height: 245px;
 padding: 0px 0px;
}
.jcarousel-skin-tango .jcarousel-clip-horizontal {
 height:245px;
 margin-left:30px;
 margin-right:30px;
}
.jcarousel-skin-tango .jcarousel-clip-vertical {
 width:240px;
 height:245px;
}

.jcarousel-skin-tango .jcarousel-item {
    width:281px;
    height:auto;
	margin-right:18px !important;
	float:left;
	border:solid 1px #d1d1d1;
	background:#fff;
}

.jcarousel-skin-tango .jcarousel-item-horizontal {
    margin-right: 0px;
}

.jcarousel-skin-tango .jcarousel-item-vertical {
    margin-bottom: 10px;
}

.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top:98px;
    right: 5px;
    width:16px;
    height:28px;
    cursor: pointer;
    background:url(../images/right_arrow.png) no-repeat;
}
.jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
    top:98px;
    left: 5px;
    width:16px;
    height:28px;
    cursor: pointer;
    background:url(../images/left_arrow.png) no-repeat;
}





/**
 *  Vertical Buttons
 */
.jcarousel-skin-tango .jcarousel-next-vertical {
    position: absolute;
    bottom: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(next-vertical.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-next-vertical:hover {
    background-position: 0 -32px;
}

.jcarousel-skin-tango .jcarousel-next-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-tango .jcarousel-next-disabled-vertical,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}

.jcarousel-skin-tango .jcarousel-prev-vertical {
    position: absolute;
    top: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(prev-vertical.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-prev-vertical:hover {
    background-position: 0 -32px;
}

.jcarousel-skin-tango .jcarousel-prev-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-vertical,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}

img {border:0px}
